:root {
    --primary-brand-color: #4D5AE5;
    --light-main-color: #FFFFFF;
    --light-accent-color: #F4F4FD;
    --border-color:#E7E9FC;
    --gray-color:#2e2f42;
    --paragraf-color:#434455;
    --link-hover-color:#404BBF;
    --light-slate:#8E8F99;
    --modal-background: #FCFCFC;
    --green-media-color: #31D0AA;
    --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Global styles */
body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--paragraf-color);
    background-color: var(--light-main-color);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul, ol{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
input{
    font-family: inherit;
}
.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.btn{
    font-family: inherit;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content{
    flex-grow: 1;
}

.container{
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* Header styles */
.header {
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
}

.logo-part {
    color: var(--gray-color);
}

.menu-toggle{
    min-width: 32px;
    min-height: 22px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.nav-list{
    display: none;
}

.header-contacts{
    display: none;
}

/* Main section styles for mobile-phone */
.main-section {
    background-color: var(--gray-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 112px;
    padding-bottom: 112px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and
(min-resolution: 192dpi) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/people-office@2x.jpg);
    }
}
.main-title{
    color: var(--light-main-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    max-width: 320px;
    margin: auto;
    padding-bottom: 72px;
    }

.order-btn {
    background-color: var(--primary-brand-color);
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    justify-content: center;
    color: var(--light-main-color);
    border: none;
    border-radius: 4px;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    display: block;
    margin: 0 auto;
}
    

/* Advantage section styles for mobile-phone */
.advantages-section {
    padding: 96px 0;
}
.advantage-item{
    max-width: 396px;
    margin-bottom: 72px;
}
.advantage-item:last-child{
    margin-bottom: 0;
}
.title-advantage-list {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.text-advantage-list{
    color: var(--paragraf-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


/* Team section styles for mobile-phone */
.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--gray-color);
    margin-bottom: 72px;
}
.team-section {
    background-color: var(--light-accent-color);
    padding-top: 96px;
    padding-bottom: 96px;
}
.team-section .title-section {
    min-width: 162px;
}
.team-card {
    background-color: var(--light-main-color);
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin: auto;
    margin-bottom: 72px;
}
.team-card:last-child{
    margin-bottom: 0;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 32px 0;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--gray-color);
    letter-spacing: 0.02em;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team-list-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    background-color: var(--primary-brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
}
.team-icon-item {
    fill: var(--light-accent-color);
}

/* Client section styles for mobile-phone */
.client-section {
    padding: 96px 0;
}
.client-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}
.client-list-item {
    width: calc((100% - 16px) / 2);
}
.client-icon-link {
    display: flex;
    max-width: 190px;
    height: 88px;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--light-slate);
    border-radius: 4px;
    color: var(--light-slate);
}

.client-icon-item {
    fill: currentColor;
}

/* Footer styles for mobile-phone */

.footer {
    background: var(--gray-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.logo-part-footer {
    color: var(--light-accent-color);
}
.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-accent-color);
    max-width: 268px;
    margin: 0 auto 72px;
}
.media-paragraf {
    color: var(--light-main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
}
.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 72px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    padding: 8px;
    background-color: var(--primary-brand-color);
}
.footer-icon-item {
    fill: var(--light-accent-color);
}
.subscribe-text {
    color: var(--light-main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
}
.email-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid var(--light-main-color);
    opacity: 0.3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--light-main-color);
    margin-bottom: 16px;
}
.email-input::placeholder {
    color: var(--light-main-color);
    opacity: 0.6;
}
.subscribe-btn {
    min-width: 165px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    border: none;

    color: var(--light-main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.subscribe-icon {
    margin-left: 16px;
}

/* Modal styles for mobile-phone*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);

    transition: opacity var(--transition-time), visibility var(--transition-time);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 72px 16px 24px 16px;

    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    max-width: 392px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--modal-background);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform var(--transition-time);


}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background-color: var(--border-color); 
}


.modal-text {
    margin-bottom: 16px;
    width: 100%;
    height: 24px;
    color: var(--gray-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.order-form {
    width: 100%;

}

.order-contact-item {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    color: var(--light-slate);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;

    margin-bottom: 4px;
}
.order-input-area {
    position: relative;
}
.contact-info {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    background-color: transparent;
    box-shadow: none;
    padding-left: 34px;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);

}

.order-comment {
    margin-bottom: 16px;
}

.comment-text {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
}

.comment-text::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    opacity: 0.5;
}

.order-check {
    margin-bottom: 24px;
}

.checkbox-label {
    color: var(--light-slate);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.input-check-area {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;

    transition: background-color var(--transition-time), border var(--transition-time), fill var(--transition-time);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

.input-check:checked+.checkbox-label .input-check-area {
    background-color: var(--link-hover-color);
    border: none;
    fill: var(--light-accent-color);
}

.privacy-link {
    color: var(--primary-brand-color);
    text-decoration-line: underline;

}

.modal-send-btn {
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: var(--light-main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: block;
    margin: 0 auto;
}


@media screen and (min-width: 768px){
    .menu-toggle{
        display: none;
    }
    .menu-container{
        display: none;
    }
    .container {
        max-width: 768px;
        /* margin: 0 auto; */
    }

    .header-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation{
        padding: 0;
    }
    .logo{
        margin-right: 120px;
    }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .header-nav {
        position: relative;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--gray-color);
        padding: 24px 0;
        
        transition: color var(--transition-time);
    }
        
    .header-nav-item:hover .header-nav,
    .header-nav-item:focus .header-nav {
        color: var(--link-hover-color);
    }
        
    .header-nav.active {
        color: var(--link-hover-color)
    }
        
    .header-nav.active::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--link-hover-color);
    }
    .header-contacts {
        display: block;
        font-style: normal;
        padding: 16px 0;
    }
    .contacts-item{
        min-width: 118px;
        height: 14px;
    }

    .contacts-mail-item{
        margin-bottom: 12px;
    }
    .header-contacts .link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--paragraf-color);
    
        transition: color var(--transition-time);
    }
    
    .header-contacts .link:hover,
    .header-contacts .link:focus {
        color: var(--link-hover-color);
    }

    /* Main section styles for tablet */
    
    .main-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: var(--light-main-color);
        letter-spacing: 0.02em;
        max-width: 496px;
        padding-bottom: 36px;
    }

    /* Advantage section styles for tablet*/
    .advantages-list{
        display: flex;
    }
    .advantage-item {
        width: calc((100% - 24px) / 2);
    }
    .title-advantage-list{
        text-align: start;
    }

    /* Team section styles for tablet*/
   
    .team-card-items {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .team-card {
        width: calc((100% - 24px) / 2);
        margin: 0;
    }


    /* Client section styles for tablet */

    .client-list {
        column-gap: 24px;
        row-gap: 72px;
        align-content: center;
        justify-content: center;
    }
    
    .client-list-item {
        width: 168px;
    }

    .client-icon-link {
        width: 168px;
    }

    /* Footer styles for tablet*/
    .footer .logo {
        display: inline-block;
    }
    .footer-paragraph {
        max-width: 264px;
        margin: 0;
    }
    .media-paragraf {
        text-align: left;
    }
    .footer-social-list {
        margin-bottom: 0;
        justify-content: start;
    }
    .footer-box {
        display: flex;
        align-items: baseline;
    }
    
    .subscribe-text {
        text-align: left;
    }
    .email-form {
        display: flex;
        gap: 24px;
    }
    .email-input {
        width: 264px;
    }
    
    /* Modal styles for tablet */
    .modal {
        padding: 72px 24px 24px 24px;
        width: 408px;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1157px){
    .advantages-list {
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
    .team-card-items {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }
    .footer-box {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 108px;
    }
}

@media screen and (max-width: 1157px){
    .advantage-icon-box{
        display: none;
    }
    .doing-section{
        display: none;
    }
}
@media screen and (min-width: 1158px){
    
    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo{
        margin-right: 76px;
    }
    .header-contacts .link {
        font-size: 16px;
        line-height: 1.5;
    }
    .contacts-mail-item {
        margin: 0;
    }
   
    .contacts-items {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .contacts-item {
        height: 24px;
    }
    .header-contacts{
        padding: 24px 0;
    }

    /* Main section styles for desktop */
    .main-section{
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .main-title{
        padding-bottom: 48px;
    }
    .order-btn{
        transition: background-color var(--transition-time);
    }
    .order-btn:hover,
    .order-btn:focus {
        background-color: var(--link-hover-color);
    }
    

    /* Advantage section styles for desktop */

    .advantages-section {
        padding: 120px 0;
    }
    
    .advantages-list {
        gap: 24px;
    }
    
    .advantage-item {
        width: calc((100% - 24px * 3) / 4);
    }
    
    .advantage-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--light-accent-color);
        height: 112px;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    
    .title-advantage-list {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--gray-color);
    }
    
    .text-advantage-list {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* Doing section styles */
    .doing-section {
        padding-bottom: 120px;
    }
    .doing-list {
        display: flex;
        gap: 24px;
    }
    
    .doing-item {
        width: calc((100% - 2 * 24px)/3);
    }

    /* Team section styles for desktop*/
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-card-items {
        gap: 24px;
    }
    .team-card {
        width: calc((100% - 24px * 3) / 4);
    }
    .team-icon-link {
        transition: background-color var(--transition-time);
    }
    .team-icon-link:hover,
    .team-icon-link:focus {
        background-color: var(--link-hover-color);
    }
    
    /* Client section styles for desktop*/
    .client-section {
        padding: 120px 0;
    }
    .client-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    
    .client-list-item {
        width: calc((100% - 24px * 5) / 6);
    }
    .client-icon-link {
        transition: border-color var(--transition-time), color var(--transition-time);
    }
    .client-icon-link:hover,
    .client-icon-link:focus {
        border-color: var(--link-hover-color);
        color: var(--link-hover-color);
    }

     /* Footer styles for desktop*/
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .media-box {
        margin-left: 120px;
        margin-right: 80px;
    }
    .footer-social-link {
        transition: background-color var(--transition-time);
    }
    .footer-social-link:hover,
    .footer-social-link:focus {
         background-color: var(--green-media-color);
    }

    .email-input {
        width: 264px;
        opacity: 1;
    }
    .email-input::placeholder {
        opacity: 1;
    }

    /* Modal styles for desktop */
    .modal-btn {
            transition: border var(--transition-time), background-color var(--transition-time);
    }
    
    .modal-btn:hover,
    .modal-btn:focus {
        border: none;
        background-color: var(--link-hover-color);
    }
    
    .modal-close-icon {
        transition: fill var(--transition-time);
    }
    
    .modal-btn:hover .modal-close-icon,
    .modal-btn:focus .modal-close-icon {
        fill: var(--light-main-color);
    }
    .contact-info {
        padding-left: 38px;
        transition: border-color var(--transition-time);
    }
    
    .contact-info:focus {
        border-color: var(--primary-brand-color);
    }
    
    .modal-icon {
        transition: fill var(--transition-time);
    }
    
    .contact-info:focus+.modal-icon {
        fill: var(--primary-brand-color);
    }
    
    .comment-text {
        transition: border-color var(--transition-time);
    }
    
    .comment-text:focus {
        border-color: var(--primary-brand-color);
    }
    
    .comment-text::placeholder {
        opacity: 1;
    }
    
    
    .modal-send-btn {
        transition: background-color var(--transition-time);
    }
    
    .modal-send-btn:hover,
    .modal-send-btn:focus {
        background-color: var(--link-hover-color);
    }
      
}


/* Portfolio styles */
.portfolio-section {
    padding: 48px 0;
}
.portfolio-btn-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 48px;
    margin-right: 18px;
}
.portfolio-btn {
    background: var(--light-accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: color var(--transition-time), background var(--transition-time), border var(--transition-time), box-shadow var(--transition-time);
    }
    
.portfolio-btn:hover,
.portfolio-btn:focus {
    background: var(--link-hover-color);
    color: var(--light-main-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
.work-cards-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.work-card{
    width: 100%;
}
.work-card-wrap {
    position: relative;
    overflow: hidden;
    max-width: 396px;
    max-height: 280px;
}
.portfolio-img{
   width: 100%;
}
.work-card-wrap {
    position: relative;
    overflow: hidden;
}

.work-card-info {
    padding: 32px 16px;
    border-right: 1px solid var(--light-accent-color);
    border-bottom: 1px solid var(--light-accent-color);
    border-left: 1px solid var(--light-accent-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.img-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    margin-bottom: 8px;
}

.img-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 300px;

    padding: 40px 32px 164px;
    color: var(--light-accent-color);
    background-color: var(--primary-brand-color);
    transform: translateY(100%);

    transition: transform var(--transition-time);
}

.work-card:hover .overlay {
    transform: translateY(0%);
}

.overlay-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


@media screen and (min-width: 768px){
    .portfolio-section {
        padding-top: 64px;
        padding-bottom: 96px;
    }
    .portfolio-btn-list {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 24px;
        margin-bottom: 64px;
        margin-right: 0;
    }
    .portfolio-btn {
        padding: 12px 24px;
    }    

    @media screen and (max-width: 1157px){
        .work-cards-list {
        row-gap: 72px;
        }
    }

    .work-card {
        width: calc((100% - 24px) / 2);
    }
}

 @media screen and not(:hover) {
    .overlay{
        display: none;
    }
 }

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding-top: 100px;
        padding-bottom: 120px;
    }
    .portfolio-btn-list {
        margin-bottom: 72px;
    }
    .work-card {
        width: calc((100% - 2 * 24px) / 3);
    
        transition: box-shadow var(--transition-time);
    }
    .work-card:hover,
    .work-card:focus {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
    
    .work-card-info {
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        box-shadow: none;
    }
       
}









/* Menu-container styles */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-left: 40px;
    background-color: var(--light-main-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    z-index: 999;

    transform: translateX(100%);
    transition: transform var(--transition-time);
}
.menu-container.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-close{
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 0.1);
    border: 1px solid rgba(46, 47, 66, 0.1);

   
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-nav-item{
    margin-bottom: 40px;
}

.mobile-nav-item:last-child {
    margin-bottom: 284px;
}

.mobile-nav-link{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--gray-color);
}


.mobile-nav-link.active{
    color: var(--link-hover-color)
}

.menu-contacts{
    margin-bottom: 48px;
}
.menu-tel{
    margin-bottom: 40px;
}
.tel-link{
    color: var(--primary-brand-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.email-link {
    color: var(--paragraf-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.menu-icon-list {
    display: flex;
    gap: 56px;
}

@media screen and (max-width: 427px){
    .tel-link {
        font-size: 24px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        }
    .menu-icon-list {
        gap: 28px;
    }
}

.menu-list-item{
    width: 40px;
    height: 40px;
}
.menu-icon-link{
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon-item{
    fill: var(--light-accent-color);
}
